@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;

}

table{
    width: 500px;
    border-collapse: collapse;
    position: relative;
}

td, th{
     border: 1px solid black;
    padding: 10px;
}

td.num{
    text-align: right;
}

caption{
    font-size: 1.5em;
    font-weight: bolder;
    padding: 10px;
    background-color: lightgray;
}

thead > tr > th  {
    position: sticky;
    top: 0;
    background-color: black;
}

thead, tfoot{
    background-color: black;
    color: white;
}

tbody tr:nth-child(odd) {
    background-color: rgba(255, 94, 0, 0.651)
}

tbody tr:nth-child(2n) {
    background-color: lightgray
}